# Python
__pycache__/
*.py[cod]
*$py.class
*.log

# LLM 工具输出目录
workspace/

# Virtual environment
.venv
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Compiled
llama_run.rar
*.dll
*.exe

# OS
.DS_Store
Thumbs.db

